body {
  background: radial-gradient(
    circle,
    rgba(93, 137, 184, 1) 0%,
    rgba(35, 87, 131, 1) 49%,
    rgba(60, 97, 130, 1) 82%
  );
}

.body {
  margin: 10px 10px 20px 10px;
  max-width: 400px;
  height: 495px;
  padding: 0px;
  border-radius: 7px;
  position: relative;
  top: 90px;
  left: 800px;
  border: 1px solid #e7eaf6;
  background: radial-gradient(
    circle,
    rgb(118, 160, 204) 0%,
    rgb(127, 154, 180) 49%,
    rgba(74, 106, 155, 1) 82%
  );
}
#form {
  position: relative;
  top: 10px;

  color: #e7eaf6;
}

#query {
  border: 1px solid #e7eaf6;
  border-radius: 10px;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #74767a;
  opacity: 0.5; /* Firefox */
  font-family: "DynaPuff";
}

#searchForm {
  background: transparent;
  color: aliceblue;
  border-radius: 20px;
  border: 1px solid #e7eaf6;
}
#searchForm:hover {
  color: #113f67;
  background: #e7eaf6;
}

h1 {
  color: #e7eaf6;
  text-align: center;
  margin: 20px 10px 10px 120px;
  width: 150px;
  height: 150px;
  display: block;
  font-size: 60px;
  font-family: "DynaPuff", cursive;
  padding-bottom: 0px;
  position: relative;
  top: -25px;
  right: 15px;
  padding-top: 10px;
}
h2 {
  display: block;
  color: #e7eaf6;
  font-weight: 40px;
  text-align: center;
  margin: 0 auto;
  font-family: "DynaPuff", cursive;
  position: relative;
  top: -40px;
}
.nextforec {
  color: #e7eaf6;
  text-align: center;
  margin: 10px 0px 0px 0px;
  font-family: "DynaPuff";
  position: relative;
  top: -30px;
}
.days {
  color: #e7eaf6;
  list-style: none;
  display: inline-block;
  text-align: center;
  font-size: 20px;
  margin: 10px 10px;
  font-family: "DynaPuff";
  position: relative;
  top: -20px;
}
img {
  max-width: 20%;
}
.wind {
  position: relative;
  top: -425px;
  margin-left: -400px;
  border: 1px solid #e7eaf6;
  display: block;
  padding-left: 30px;

  height: 150px;
  margin-inline-start: 250px;
  margin-inline-end: 530px;
  border-radius: 50% 0% 0% 0%;
  background: #000 center/cover url("images/wind.jpg") no-repeat;
}
.cloud {
  position: relative;
  top: -480px;
  margin-left: -400px;
  margin-top: 5px;
  border: 1px solid #e7eaf6;
  display: block;
  height: 150px;
  margin-inline-start: 250px;
  margin-inline-end: 530px;
  border-radius: 20px 0px 0px 20px;
  background: #000 center/cover url("images/clouds.jpg") no-repeat;
}
.rain {
  position: relative;
  top: -535px;
  margin-left: -370px;
  margin-top: 5px;
  border: 1px solid #e7eaf6;
  display: block;
  height: 150px;
  margin-inline-start: 250px;
  margin-inline-end: 530px;
  border-radius: 0% 0% 0% 50%;
  background: #000 center/cover url("images/humidity.jpg") no-repeat;
}
.first {
  text-align: center;
  color: #e7eaf6;
  position: relative;
  top: -490px;
  left: -310px;
  font-family: "DynaPuff";
  color: #1a2639;
  font-size: 34px;
}
.second {
  text-align: center;
  color: #e7eaf6;
  position: relative;
  top: -550px;
  left: -290px;
  font-family: "DynaPuff";
  color: #1a2639;
  font-size: 34px;
}
.third {
  text-align: center;
  color: #e7eaf6;
  position: relative;
  top: -630px;
  left: -290px;
  font-family: "DynaPuff";
  color: #1a2639;
  font-size: 34px;
}
h3 {
  display: block;
  color: #e7eaf6;
  font-weight: 10px;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  font-family: "DynaPuff";
  position: relative;
  top: -30px;
}
#emoji {
  display: block;
  color: #e7eaf6;
  font-size: 70%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 150px;
}
.openSource {
  display: block;
  text-align: center;
  position: relative;
  top: -600px;
  color: #9aa9ba;
}
.link {
  color: #9aa9ba;
}
.link:hover {
  color: #e7eaf6;
}
#units {
  display: inline;
}
.units {
  display: block;
  position: relative;
  top: -170px;
  right: -220px;
  color: #e7eaf6;
  font-family: "DynaPuff";
  font-size: 30px;
}
.fUnit {
  color: #464b4f;
}
#description {
  display: block;
  color: #e7eaf6;
  font-weight: 40px;
  text-align: center;
  margin: 0 auto;
  font-family: "DynaPuff", cursive;
  position: relative;
  top: -120px;
}
